<fieldset id="posting_<%=@row_id%>">
  <%= fields_for 'postings[]', @posting do |f| %>
    <div>
      <%= f.label :account_id, 'Select Account' %>
      <%= f.select :account_id, Account.all.collect {|acc| [ acc.name.capitalize, acc.id ] }, include_blank: false%>
    </div>
    <div>
      <%= f.label :amount %>
      <%= f.number_field :amount, required: true %>
    </div>
  <% end %>
  <% if @row_id != 0 %>
    <%= link_to 'Remove', '', id: 'remove_posting', row_id: @row_id %>
  <% end %>
</fieldset>
